<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sliit.project_elephas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewHotelDetails"></activity>
        <activity android:name=".HotelManagementForm" />
        <activity android:name=".HotelManagement" />
        <activity
            android:name=".CustomerViewListOfReqActivity"
            android:label="@string/title_activity_customer_view_list_of_req"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".CustomerReqGatheringActivity" />
        <activity android:name=".AfterLoginCustomerActivity" />
        <activity android:name=".ManageInformationForToursActivity" />
        <activity android:name=".AfterLoginActivityAdminView" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Payment_manage" />
        <activity android:name=".activities.Payment" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>